<div class="col s12"  ng-controller="listController">

                    <div class="col s12 category">{{ selectedCategory }}</div>
                    <div class="col s3 center item-design" ng-repeat="product in Products">
                        <div class="col s12" id="productDiv" ng-click="goToProduct(product)">
                            <img src="{{ product.productImage }}" style="width:50%; height:187px">
                        <div class="col s12 name">
                            {{ product.productName }}
                        </div>
                        <div class="col s12 merchant">
                            By null
                        </div>
                        <div class="col s12 price">
                            &#8377; {{ product.bestPrice }}
                        </div>
                        </div>
                        <div class="col s12 product_action">
                            <div ng-click="addToCart(product)" onclick="Materialize.toast('Product Succesfully Added To Cart', 4000,'rounded')" >
                                ADD TO CART
                            </div>
                        </div>
                        <div class="col s12 valign-wrapper">
                            <div id="email_modal" class="modal">
                                <div class="col s10 offset-s1 valign" style="padding-top: 40px">
                                    <input type="text" class="validate" placeholder="Email Id">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                  <i class="material-icons right">send</i>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           