<div class="product clear" ng-controller="productController">
                 <div class="waves-effect light-blue darken-2 btn-large col s2 offset-s10" onclick="Materialize.toast('Product Succesfully Added To Cart', 4000,'rounded')" ng-click="addToCart(clickedProduct)">ADD TO CART</div>  
                      <div class="col s3">
                          <img src="{{clickedProduct.productImage}}" style="width:50%;height:50%;">
                     </div>
                     <div class="col s8">
                         <div class="row">
                            <div class="col s3" style="font-weight:500;padding:0">Brand Name</div>
                            <div class="col s6" style="opacity:0.4;padding:0">{{ clickedProduct.productBrand }}</div>
                        </div>
                        <div class="row">
                            <div class="col s3" style="font-weight:500;padding:0">Product Name</div>
                            <div class="col s3" style="opacity:0.4;padding:0">{{ clickedProduct.productName}}</div>
                        </div>
                        <div class="row">
                            <div class="col s3" style="font-weight:500;padding:0">Product Code</div>
                            <div class="col s3" style="opacity:0.4;padding:0">{{ clickedProduct.productCode }}</div>
                        </div>
                    </div>
    <div class="row">
  <div class="col s10" style="padding:0">
    <ul class="tabs">
      <li class="tab col s3 left"><a class="active" href="#description">Description</a></li>
      <li class="tab col s3 left"><a  href="#specification">Specification</a></li>
     <li class="tab col s3 left"><a href="#review">Review</a></li>
    </ul>
  </div>
  <div id="description" class="col s8 ">{{clickedProduct.productDesc}}</div>
  <div id="specification" class="col s8">Specification</div>
 <div id="review" class="col s8 ">Review</div>
</div>
</div>